.header img{
	width: 100%;
	height: 240px;
}

.banner{
	display: flex;
	margin-top: 5px;
	margin-bottom: 5px;
}
.banner dl{
	flex: 1;
	height: 75px;
	text-align: center;
}
.banner dl dt {
	width: 100%;
	height: 80%;
}
.banner dl .b1{
	background: url(../images/b1.png) no-repeat center;
}
.banner dl .b2{
	background: url(../images/b2.png) no-repeat center;
}
.banner dl .b3{
	background: url(../images/b3.png) no-repeat center;
}
.banner dl .b4{
	background: url(../images/b4.png) no-repeat center;
}
.banner dl .b5{
	background: url(../images/b5.png) no-repeat center;
}
.banner dl dd{
	height: 20%;
	font-size: 14px;
	line-height: 20px;
}
.main{
	margin-top: 10px;
}
.main p{
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	color: #000;
}
.main2{
	width: 1200px;
	height: 200px;
	display: flex;
	/*overflow: auto;*/
	margin-top: 10px;
}
.main2 dl{
	flex: 1;
	margin-left: 5px;
	margin-right: 5px;
}
.main2 dt{
	width: 100%;
	height: 70%;
}
.main2 dt img{
	width: 100%;
	height: 135px;
	border-radius: 10px;
}
.main2 .dd1{
	height: 20%;
	width: 100%; 
}
.main2 .dd1 p {
    color: #131313;
}
.main2 .dd2{
	height: 10%;
	width: 100%; 
}

.main33{
	width: 100%;
	height: 180px;
	margin-top: 20px;
	margin-bottom: 20px;
	display: flex;
}
.main33 .m1{
	flex: 1;
}
.main33 .m1 img{
	margin-left: 20%;
	width: 60%;
	height: 160px;
}
.main33 .m2{
	flex: 1;
}
.main33 .m2 .m21{
	text-align: left;
	font-size: 16px;
	margin-bottom: 20px;
}
.main33 .m2 .m22,.main33 .m2 .m23{
	text-align: left;
	font-size: 12px;
	margin-bottom: 5px;
}
.main33 .m2 .m24{
	margin-top: 20px;
}
.main33 .m2 .m24 .mp1{
	width: 50%;
	float: left;
	/*background: #f00;*/

}
.main33 .m2 .m24 .mp1 span{
	display: inline-block;
	color: #f00;
	border: 2px solid #f00;
	border-radius: 20%;
	width: 55px;
	height: 24px;
	line-height: 20px;
	text-align: center;

}
.main33 .m2 .m24 .mp2{
	width: 50%;
	float: right;
	color: #000;
}
.main33 .m2 .m24 .mp2 span{
	font-size: 18px;
	color: #f00;
}






.footer{
	width: 100%;
	height: 60px;
	line-height: 60px;
	display: flex;
	position: fixed;
	bottom: 0;
	background: #f5f5f5;
}
.footer li{
	width: 33%;
	height: 60px;
	text-align: center;
	line-height: 18px;
	font-size: 12px;
	color: #FD6857;
}
.footer li p{
	color: #000;
	line-height: 8px;
	margin-right: 5px;
}
.footer .active{
	color: #FD6857;
}
.icon1{
	background-repeat: no-repeat;
    background-size: 300px 200px;
    width: 36px;
    height: 36px;
    position: relative;
    background-image: url(../images/jl.png);
    margin: 0 auto;
    background-position: 3px -118px;
    display: inline-block;
}
.icon2{
	background-repeat: no-repeat;
    background-size: 300px 200px;
    width: 36px;
    height: 36px;
    position: relative;
    background-image: url(../images/jl.png);
    margin: 0 auto;
    background-position: -30px -88px;
    display: inline-block;
}
.icon3{
	background-repeat: no-repeat;
    background-size: 300px 200px;
    width: 36px;
    height: 36px;
    position: relative;
    background-image: url(../images/jl.png);
    margin: 0 auto;
    background-position: -96px -87px;
    display: inline-block;
}